header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.top {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
}

.tops {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 54px;
    margin: auto;
    padding: 0 20px;
    align-items: center;
}

.instagram-logo {
    width: 360px;
    height: 36px;
}

.logo {
    position: left;
    top: 12px;
    width: 103px;
}

.search {
    text-align: center;
    outline: none;
    width: 199px;
    height: 20px;
    padding: 7px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    float: left;
    background-color: #fafafa;
}

.menu {
    width: 360px;
}

.menu2 {
    float: right;
    width: 222px;
    height: 22px;
    padding-left: 24px;
    justify-content: space-between;
    display: flex;
}

.menuicon {
    display: inline-block;
    justify-content: space-between;
}

.fas.fa-home {
    font-size: 22px;
}

.fa-home:before {
    content: "\f015";
}

.fa-paper-plane:before {
    content: "\f1d8";
}

.fa-compass:before {
    content: "\f14e";
}

.fa-heart:before {
    content: "\f004";
}

.section {
    float: left;
    width: 614px;
    margin-right: 28px;
    margin-bottom: 40px;
    display: inline;
    background-color: #ffffff;
}

.mid {
    padding-top: 30px;
    max-width: 935px;
}

.mid {
    margin: auto;
}

.content {
    border: 1px solid #ebebeb;
}

.content {
    max-width: 614px;
    margin: auto;
    background-color: #ffffff;
}

.content-profile {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 27px;
}

.content-profilePhoto {
    width: 32px;
    border-radius: 50%;
}

.content-contents {
    width: 100%;
}

.content-more {
    display: flex;
    width: 100%;
    height: 24px;
    margin-left: 14px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.fas.fa-ellipsis-h {
    font-size: 16px;
    float: right;
}

.fa-ellipsis-h:before {
    content: "\f141";
}

.content-contents {
    width: 100%;
}

.content-menudiv {
    display: flex;
    justify-content: space-between;
}

.content-menuleft {
    display: flex;
    padding-left: 8px;
}

.content-menuicon {
    display: inline-block;
    justify-content: space-between;
}

.content-menuicon>i {
    padding: 8px;
    font-size: 24px;
}

.fa-heart:before {
    content: "\f004";
}

.fa-comment:before {
    content: "\f075";
}

.fa-paper-plane:before {
    content: "\f1d8";
}

.content-menuright {
    width: auto;
    display: flex;
}

.views {
    font-weight: bold;
    font-size: 14px;
    padding: 0 16px;
}

.content-contents-contents>div {
    font-size: 14px;
    margin-top: 10px;
    padding: 0 16px;
}

.contents-id {
    font-weight: bold;
}

.content-contents-hashtag {
    color: #00376b;
}

.comment-registration {
    width: auto;
    height: 55px;
    align-items: center;
    display: flex;
    border-top: 1px solid #ebebeb;
    margin-top: 4px;
    justify-content: space-between;
    padding: 0 8px;
}

.input-comment {
    flex: 9;
    width: 100%;
    height: 18px;
    font-size: 14px;
    border: 0;
    outline: none;
}

.regist {
    width: 30px;
    font-size: 14px;
    color: #0095f6;
    width: auto;
}

input[type="text"] {
    font-family: "Font Awesome 5 Free";
}

input[type="text" i] {
    padding: 1px 2px;
}

.aside {
    max-width: 293px;
    z-index: 90;
    display: inline;
}

.myProfile {
    display: flex;
    align-items: center;
    width: 293px;
    height: 56px;
}

.myProfile-photo {
    height: 54px;
    border-radius: 50%;
}

.myProfile-id {
    font-size: 16px;
    font-weight: bold;
    width: 190px;
    margin-left: 12px;
}

.myProfile-name {
    color: #8e8e8e;
    margin-left: 12px;
}

.myProfile-idChange {
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
}

.recommendId {
    display: flex;
    width: 293px;
    height: 12px;
    margin: 12px 0 0;
    justify-content: space-between;
}

.recommendId-notice {
    font-size: 14px;
    color: #8e8e8e;
}

.recommendId-total {
    font-size: 12px;
}

.recommend-elementBox {
    padding: 8px 0;
}

.recommend-element {
    display: flex;
    padding: 8px 0;
}

.recommendedProfile {
    width: 42px;
    height: 42px;
    text-align: center;
}

.recommendedPhoto {
    border-radius: 50%;
    width: 32px;
    margin-top: 2px;
}

.recommendedPhoto {
    border-radius: 50%;
    width: 32px;
    margin-top: 2px;
}

.recommendedFollower {
    font-size: 12px;
    color: #8e8e8e;
    width: 206px;
}

.followButton {
    color: #0095f6;
    font-size: 12px;
}

.recommendedBox {
    display: flex;
    align-items: center;
}