
header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center

}
.mid {
    width: 975px;
    height: 60px;
    padding: 0px,20px;
    display: flex;
    align-items: center
}
.insta_logo {
    width: 333.5px;
    height: 36px;
}
.logo {
    width: 110px;
    height: 39px;
    display: flex;
}
.search {
    border-radius: 5px;
    width: 268px;
    height: 36px;
    background: #efefef;
    border: none;
    background-image: url(/image/search.svg);
    background-position:center left; 
    background-repeat:no-repeat;
}
.search::placeholder {
    font-size: 16px;
    color: #8E8E8E;
}
.input:focus {
    outline:none;
}
.icon {
    width: 333.5px;
    height: 24px;
    display: flex;
    margin-left: 3.5em;
}
.icon_size {
    width: 24px;
    height: 24px;
    margin-left: 2.5em;
}
.ol {
    display: flex;
}
