html,body {     margin: 0;     padding: 0; }
body {
    background-color: #fafafa;
}
header {
    width: 1592px;
    height: 60px;
    background-color: #ffffff;
    position: flexd;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    justify-content: center;
    align-items: center;

}
.mid {
    width: 975px;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.insta_logo {
    width: 333.5px;
    height: 36px;
    display: flex;
}
.logo {
    width: 103px;
    height: 29px;
    display: flex;
    margin: auto 0 0 0;
}
.search {
    border-radius: 5px;
    width: 268px;
    height: 36px;
    background: #efefef;
    border: none;
    background-image: url(/image/search.svg);
    background-position:center left; 
    background-repeat:no-repeat;
}
.search::placeholder {
    font-size: 16px;
    color: #8E8E8E;
}
.input:focus {
    outline:none;
}
.icon {
    width: 333.5px;
    height: 24px;
    display: flex;
    justify-content: right;
}
.icon_btn {
    width: 278px;
    height: 24px;
    display: flex;
    padding: 0px 0px 0px 24px;
    position: relative;
}
.icon_size {
    width: 24px;
    height: 24px;
    margin-left: 22px;
}
#icon_home{
    width: 20px;
    height: 20px;
}
#profile {
    border-radius: 100%;
}
.SEC {
    width: 935px;
    height: 100%;
    padding: 30px 0px 0px;
    margin: 0 292px 0 292px;
    display: flex;
}
.out_story {
    width: 614px;
    height: 119px;
    margin: 0px 0px 24px; 
    padding: 16px 0px 16px 0px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
}
.story_list {
    width: 85px;
    height: 10px;
    display: list-item;
    list-style-type: none;
    list-style-position: outside;
}
.story_pro{
    width: 80px;
    height: 122px;
    padding: 0px 4px;
}
aside {
    width: 293px;
    height: 731.2px;
    margin: 0px 0px 30px;
    background-color: #ffffff;
    display: flex;
    position: flexd;
}
