body {
    background-color: #fafafa;
}
html,body {     
    margin: 0;     
    padding: 0; 
}
header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 90; 
}
.mid {
    width: 100% auto;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.insta_logo {
    width: 333.5px;
    height: 36px;
    display: flex;
    align-items: center;
}
.logo {
    width: 103px;
    height: 29px;
    display: flex;
}
.search {
    width: 268px;
    height: 36px;
    border-radius: 5px;
    background: #efefef;
    border: none;
    background-image: url(/image/search.svg);
    background-position:center left; 
    background-repeat:no-repeat;
}
.search::placeholder {
    font-size: 16px;
    color: #8E8E8E;
}
.input:focus {
    outline:none;
}
.icon {
    width: 333.5px;
    height: 24px;
    display: flex;
    justify-content: flex-end;

}
.icon_btn {
    width: 278px;
    height: 24px;
    display: flex;
    padding: 0px 0px 0px 24px;

}
.icon_size {
    width: 24px;
    height: 24px;
    margin-left: 22px;
}
#icon_home{
    width: 22px;
    height: 22px;
}
#profile {
    border-radius: 100%;
}
.content_bgd {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    position: relative;
    top: 60px;
}
.content {
    width: 935px;
    height: 1020px;
    margin: 0 auto;
    display: flex;
    padding-top: 24px;
}
.contents {
    width: 614px;
    margin: 0 28px 0 0;
}
.story_bgd {
    height: 85px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    padding: 16px 0px;
    margin-bottom: 24px;
    display: flex;
}
.story {
    width: 72px;
    height: 122px;
    padding: 0px 4px;
}
.story1 {
    width: 60px;
    height: 84px;
    padding: 0px 6px;
}
.profileimg1 {
    position: relative;
    width: 58px;
    height: 58px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.storyimg1 {
    width: 56px;
    height: 56px;
    display: inline;  
    border-radius: 100px;
    position: relative;
    top: 1px;
    left: 1px;
}
.s_p_n {
    font-size: 12px;
    color: #8E8E8E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.post_water {
    width: 614px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
}
.p_s_bar {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header {
    width: 546px;
    height: 31px;
    padding: 14px 4px 14px 16px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.profile2{
    width: 32px;
    height: 32px; 
}
.p_w_p {
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 100%;
}
.p_w_n {
    height: 26px;
    margin: 0 0 0 14px;
    display: flex;
}
.p_w_n_t {
    width: 69.47px;
    height: 22px;
    padding: 2px;
    display: flex;
}
.profilename {
    width: 65.46px;
    height: 18px;
    font-size: 14px;
    font-weight:bold;
    text-align: center;
    color: #262626;
}
.p_w_o {
    width: 40px;
    height: 40px;
    padding: 0 8px 0 0;
    display: flex;
    background-color: #ffffff;
}
.p_w_option {
    width: 40px;
    height: 24px;
    padding: 8px;
    display: flex;
}
.option {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.post_img {
    width: 614px;
    height: 614px;
    display: flex;
}
.postimg {
    width: 100%;
    height: 100%;
    display: flex;
}
.Ex_bar {
    height: 199px;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}
.emotion_bar {
    height: 40px;
    margin: 4px 0 0;
    padding: 6px 16px 8px;
    display: flex;
}
.emotions {
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
}
#e_ {
    width: 24px;
    height: 24px;
}
.bookmark {
    position: relative;
    bottom: 10px;
    padding: 8px 8px 8px 435px;
}
.like_bar {
    height: 18px;
    margin: 0 0 8px;
    padding: 0 16px;
}
.l_b_ {
    width: 582px;
    height: 18px;
}
.like {
    width: 81.5px;
    height: 19px;
    font-size: 14px;
    font-weight:bold;
    color: #262626;
}
.u_c {
    width: 614px;
    height: 40px;
    border-bottom: 1px solid #d8d8d8;
}
.c_b {
    box-sizing: border-box;
    width: 614px;
    height: 22px;
    padding: 0 16px;
}
.c_b_n {
    width: 582px;
    height: 18px;
    position: relative;
    bottom: 5px;
}
.c_b_n1 {
    font-size: 13px;
    font-weight:bold;
    color: #262626;
}
.c_b_n2 {
    color: #262626;
    margin-left: 7px;
    font-size: 14px;
}
.c_b1 {
    width: 598px;
    height: 18px;
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    position: relative;
    top: 1px;
    right: 18.5px;
}
.c_b_no {
    width: 598px;
    height: 18px;
    position: relative;
    bottom: 5px;
}
.times{
    font-size: 10px;
    color: #8e8e8e;
}
.chat_area {
    height: 41px;
    padding: 6px 16px;
    border-bottom: 1px solid #d8d8d8;
}
.chat_a {
    width: 582px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_emos {
    width: 24px;
    height: 24px;
    padding: 8px 16px 8px 0;
}
.smile_e {
    border-radius: 100%;
    width: 24px;
    height: 24px;
}
.t_a {
    width: 512px;
    height: 16px;
    background-color: #ffffff;
    border:none;border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom:0px;
}
.t_a1{
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #91b2f3;
}
.t_a::placeholder {
    font-size: 15px;
    color: #8E8E8E;
}
.t_a:focus {
    outline:none;
}
.aside {
    width: 293px;
    height: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    position: fixed; 
    left: 1450px;
    z-index: 90;
}
.account {
    width: 293px;
    height: 56px;
    margin: 20px 2px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 15px;
}
.ac_p {
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 6px;
}
.ac_p1 {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.ac_p_n{
    width: 199px;
    height: 30px;
    margin: 0px;
    position: relative;
    top: 5px;
}
.ac_pn1 {
    width: 199px;
    height: 18px;
}
.ac_pn2 {
    width: 187px;
    height: 18px;
    margin: 0 0 0 12px;
    position: relative;
    bottom: 7px;
}
.ac_pn3 {
    height: 18px;
    font-size: 14px;
    font:bold;
    text-align: center;
    color: #262626;
}
.ac_pn4 {
    width: 199px;
    height: 18px;
    position: relative;
    bottom: 5px;
}
.ac_pn5 {
    font-size: 14px;
    color: #8E8E8E;
    position: relative;
    left: 9px;
}
.ac_pc {
    width: 28px;
    height: 56px;
    position: relative;
    left: 170px;
    bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0%;
}
.ac_span {
    display: flex;
    font-size: 12px;
    color: #0095f6;
}
.f_r_bar {
    width: 325px;
    height: 291px;
    margin: 0 0 12px -16px;
    display: inline-block;
    
}
.f_r1 {
    width: 293px;
    height: 11px;
    margin: 12px 0 0;
    padding: 4px 16px;
    display: flex;
}
.f_r_c1 {
    font-size: 14px;
    color: #8E8E8E;
    font-weight: bolder;
    
}
.f_r_c2 {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 110px;
}
.f_list {
    width: 321px;
    height: 240px;
    padding: 8px 0;
}
.f_l1 {
    height: 32px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}
.f_l_i1 {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
}
.f_l2 {
    width: 201px;
    height: 30px;
}
.f_l_c1 {
    height: 18px;
    font-size: 14px;
    color:#262626;
    font-weight: 550;
    position: relative;
    bottom: 7px;
}
.f_l_c2 {
    height: 16px;
    margin: 3px;
    font-size: 12px;
    color: #8E8E8E;
    position: relative;
    top: 10px;
    right: 70px;
}
.follow {
    height: 32px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follows {
    color:#0095f6;
    font-size: 12px;
    font-weight: 900;
}
.yiyong {
    width: 293px;
    height: 91px;
    padding: 0 0 38px;
    margin: 0;
}
.yi1 {
    height: 57px;
    margin-bottom: 16px;
}
.yi_1 {
    height: 54px;
    margin: 0 0 3px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.yi_2 {
    height: 18px;
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
}
.yi_3 {
    font-size: 12px;
    color: #c7c7c7;
    margin-left: 2px;
}
ul {
    list-style: none;
}
.lang {
    font-size: 12px;
    color: #c7c7c7;
    margin-left: 2px;
}
.languege {
    opacity: 0;
    width: 24px;
    height: 16px;
    position: relative;
    right: 28px;
}
.languege:focus {
    outline: none;
}
.ang {
    font-size: 12px;
    color: #c7c7c7;
}
/* .story_inst {
    width: 612px;
    height: 85px;
    display: flex;
} */