html,body {     
    margin: 0;     
    padding: 0; 
}
header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: center;

}
.mid {
    width: 100% auto;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.insta_logo {
    width: 333.5px;
    height: 36px;
    display: flex;
    align-items: center;
}
.logo {
    width: 103px;
    height: 29px;
    display: flex;
}
.search {
    width: 268px;
    height: 36px;
    border-radius: 5px;
    background: #efefef;
    border: none;
    background-image: url(/image/search.svg);
    background-position:center left; 
    background-repeat:no-repeat;
}
.search::placeholder {
    font-size: 16px;
    color: #8E8E8E;
}
.input:focus {
    outline:none;
}
.icon {
    width: 333.5px;
    height: 24px;
    display: flex;
    justify-content: flex-end;

}
.icon_btn {
    width: 278px;
    height: 24px;
    display: flex;
    padding: 0px 0px 0px 24px;

}
.icon_size {
    width: 24px;
    height: 24px;
    margin-left: 22px;
}
#icon_home{
    width: 22px;
    height: 22px;
}
#profile {
    border-radius: 100%;
}
.content_bgd {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
.content {
    width: 935px;
    margin: 0 auto;
    display: flex;
    padding-top: 24px;
}
.contents {
    width: 614px;
}
.story_bgd {
    height: 85px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    padding: 16px 0px;
    margin-bottom: 24px;
    display: flex;
}
.story {
    width: 72px;
    height: 122px;
    padding: 0px 4px;
}
.story1 {
    width: 60px;
    height: 84px;
    padding: 0px 6px;
}
.profileimg1 {
    position: relative;
    width: 58px;
    height: 58px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, red 0%,  orange 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.storyimg1 {
    width: 56px;
    height: 56px;
    display: inline;  
    border-radius: 100px;
    position: relative;
    top: 1px;
    left: 1px;
}
.s_p_n {
    font-size: 12px;
    color: #8E8E8E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.post_water {
    width: 614px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
}
.p_s_bar {
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header {
    width: 546px;
    height: 31px;
    padding: 14px 4px 14px 16px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.profile2{
    width: 32px;
    height: 32px; 
}
.p_w_p {
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 100%;
}
.p_w_n {
    height: 26px;
    margin: 0 0 0 14px;
    display: flex;
}
.p_w_n_t {
    width: 69.47px;
    height: 22px;
    padding: 2px;
    display: flex;
}
.profilename {
    width: 65.46px;
    height: 18px;
    font-size: 14px;
    font-weight:bold;
    text-align: center;
    color: #262626;
}
.p_w_o {
    width: 40px;
    height: 40px;
    padding: 0 8px 0 0;
    display: flex;
    background-color: #ffffff;
}
.p_w_option {
    width: 40px;
    height: 24px;
    padding: 8px;
    display: flex;
}
.option {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.post_img {
    width: 614px;
    height: 614px;
    display: flex;
}
.postimg {
    width: 100%;
    height: 100%;
    display: flex;
}
.Ex_bar {
    height: 199px;
    background-color: #ffffff;
}
.emotion_bar {
    height: 40px;
    margin: 4px 0 0;
    padding: 6px 16px 8px;
    display: flex;
}
.emotions {
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
}
#e_ {
    width: 24px;
    height: 24px;
}
.bookmark {
    position: relative;
    bottom: 10px;
    padding: 8px 8px 8px 435px;
}
.like_bar {
    height: 18px;
    margin: 0 0 8px;
    padding: 0 16px;
}
.l_b_ {
    width: 582px;
    height: 18px;
}
.like {
    width: 81.5px;
    height: 19px;
    font-size: 14px;
    font-weight:bold;
    color: #262626;
}
.c_b {
    box-sizing: border-box;
    width: 614px;
    height: 22px;
    padding: 0 16px;
}
.c_b_n {
    width: 582px;
    height: 18px;
}
.c_b_n1 {
    font-size: 14px;
    font-weight:bold;
    color: #262626;
}
.c_b_n2 {
    
}