html,body {     
    margin: 0;     
    padding: 0; 
}
body {
    background-color: #fafafa;
}
header {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: center;

}
.mid {
    width: 100% auto;
    height: 60px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.insta_logo {
    width: 333.5px;
    height: 36px;
    display: flex;
    align-items: center;
}
.logo {
    width: 103px;
    height: 29px;
    display: flex;
}
.search {
    width: 268px;
    height: 36px;
    border-radius: 5px;
    background: #efefef;
    border: none;
    background-image: url(/image/search.svg);
    background-position:center left; 
    background-repeat:no-repeat;
}
.search::placeholder {
    font-size: 16px;
    color: #8E8E8E;
}
.input:focus {
    outline:none;
}
.icon {
    width: 333.5px;
    height: 24px;
    display: flex;
    justify-content: flex-end;

}
.icon_btn {
    width: 278px;
    height: 24px;
    display: flex;
    padding: 0px 0px 0px 24px;

}
.icon_size {
    width: 24px;
    height: 24px;
    margin-left: 22px;
}
#icon_home{
    width: 22px;
    height: 22px;
}
#profile {
    border-radius: 100%;
}
.section {
    width: 935px;
    height: 1500px;
    margin: 0 auto;
    padding: 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post {
    width: 614px;
    height: 1500px;
    margin: 0px 28px 0px 0px;
    display: flex;
    background-color: aqua;
}
.aside {
    width: 293px;
    height: 1300px;
    margin: 0px 0px 30px;
    background-color: bisque;
}